@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    display: flex;
    flex-direction: column;
    text-align: left;
    @include m.contenedor-md;

    label {
        font-weight: v.$bold;
        font-size: 1.8rem;
        padding: 1rem 0;
    }

    input:not([type="submit"]):not([type="file"]),
    select {
        border: .2rem solid;
        padding: 1rem;
        border-radius: 1rem;
        &:disabled {
            background-color: lighten(v.$negro, 30%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }

    .boton {
        margin-bottom: 2rem;
    }

    .img_form {
        margin-top: 2rem;
        width: 40%;
    }
}