@use 'base/mixins' as m;
@use 'base/variables' as v;

.tabla {
    text-align: center;
    line-height: 1.5;
    @include m.contenedor-md;
    margin-top: 3rem;

    td {
        padding: 1rem;
        border: none;
        background-color: v.$blanco;
    }

    thead {
        display: none;
        font-size: 1.8rem;
        @include m.pc {
            display: table-header-group;
            padding: 2rem;
            background-color: v.$negro;
            color: v.$blanco;

            th {
                padding: 1rem;
            }
        }
    }

    tbody {
        
        tr {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 5rem;
            border: .1rem solid v.$negro;
            padding: 1rem;
            border-radius: 2rem;
            background-color: v.$blanco;

            @include m.pc {
                display: table-row;
                border: none;
            }
        }

        td {
            border: none;
            @include m.pc {
                display: table-cell;
                background-color: v.$crema;
            }
        }
    }

    .boton {
        @include m.boton(lighten(v.$azulOscuro, 10%), v.$blanco);
        & {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-size: 1.5rem;
        }
    }
}