
// Media queries
$telefono:  480px;
$tablet: 768px;
$pc: 920px;

// Colores
$azul:  #0f0f83;
$celeste: #00d4ff;
$blanco: #fff;
$crema: #ECF0F1; //#e8fafc;
$negro: #000;
$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);
$amarillo: #ffc107;
$grisOscuro: #4d4f52;

$azulOscuro : #012e5c;

// Fuentes
$fuentePrincipal: "Roboto Slab", serif;
$delgada: 300;
$normal : 400;
$bold: 700;
$black: 900;

$separacion: 5rem;