@use 'base/mixins' as m;
@use 'base/variables' as v;


.dashboard {
    display: flex;
    height: 100vh;

    .principal {
        flex: 1;
        overflow: scroll;
        margin-left: 15rem;
        margin-top: 7rem;
        @include m.tablet {
            margin-left: 25rem;
        }
        
        &.recorrer {
            margin-left: 0;
        }
    }

    .contenido-dashboard {
        margin-top: 3rem;

        @include m.tablet {
            @include m.grid(2, 2rem);     
        }
        
        p {
            font-size: 1.6rem;
            line-height: 1.5;
        }
    }
    
    .saldo-dashboard {
        margin-top: 3rem;
        background-color: v.$blanco;
        grid-column: 2 / 3;
        padding: 2rem;
        border-radius: 1rem;
    
        h3 {
            margin: 0;
        }
    }
    
    .ultimas-compras {
        background-color: v.$blanco;
        margin-top: 3rem;
        padding: 2rem;
        border-radius: 1rem;
    
        h3 {
            margin: 0;
        }
    }
    
    .promociones-dashboard {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
    
        h3 {
            margin: 0;
        }
    }

    .cambiar-clave {
        .boton {
            width: 15rem;
            padding: 1rem;
            background-color: v.$azulOscuro;
            font-size: 1.6rem;
            margin: 0;

            &:hover {
                background-color: lighten($color: v.$azulOscuro, $amount: 10%);
            }
        }
    }
}