@use 'base/mixins' as m;
@use 'base/variables' as v;

.cuentas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .plataforma,
    .fecha {
        @include m.pc {
            width: 10rem;
        }
    }

    .plataforma-img {
        width: 8rem;
        border-radius: 1rem;
    }

    .perfil,
    .pin {
        @include m.pc {
            width: 2rem;
        }
    }

    .no-cuentas {
        font-size: 1.4rem;
    }
}