@use 'base/mixins' as m;
@use 'base/variables' as v;

.cuentas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .tabla {
        margin-top: 2rem;
        text-align: center;
        line-height: 1.5;

        th,
        td {
            padding: 1rem;
            border: .1rem solid v.$grisOscuro;
            background-color: v.$blanco;
        }

        thead {
            display: none;
            font-size: 1.8rem;
            //background-color: v.$celeste;
            @include m.pc {
                display: table-header-group;
            }
        }

        tbody {
            
            tr {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 5rem;
                border: .1rem solid v.$negro;
                padding: 1rem;
                border-radius: 2rem;
                background-color: v.$blanco;

                @include m.pc {
                    display: table-row;
                    border: none;
                }
            }

            td {
                border: none;
                @include m.pc {
                    display: table-cell;
                    border: .1rem solid v.$grisOscuro;
                }
            }
        }

    }

    .plataforma,
    .fecha {
        @include m.pc {
            width: 10rem;
        }
    }

    .plataforma-img {
        width: 8rem;
        border-radius: 1rem;
    }

    .perfil,
    .pin {
        @include m.pc {
            width: 2rem;
        }
    }

    .no-cuentas {
        font-size: 1.4rem;
    }
}