@use 'base/mixins' as m;
@use 'base/variables' as v;

.cuentas {
    
    .no-cuentas {
        font-size: 1.4rem;
    }
}

.plataforma {
    &-img {
        width: 12rem;
        border-radius: 1rem;

        @include m.pc {
            width: 10rem;
        }
    }

}