@use 'base/mixins' as m;
@use 'base/variables' as v;

.contacto {
    .formulario {

        fieldset{
            padding: 2rem;
        }

        legend {
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 2rem;
        }

        input {
            width: 100%;
            margin: 1.5rem 0;
        }

        textarea {
            height: 10rem;
            width: 100%;
            margin-top: 1.5rem;
            padding: 1rem;
            border-radius: 1rem;
            border: .2rem solid v.$negro;
        }
        .boton {
            width: auto;
        }
    }
}